@font-face {
  font-family: myFont;
  src: url("/fonts/prodsanReg.ttf");
}
.home-page {
  @media (min-width: 798px) {
    padding: 0px 50px;
  }
  &__top {
    padding: 20px 40px;
    &__title {
      font-size: 56px;
    }
    &__button {
      margin-top: 33px;
    }

    @media (max-width: 798px) {
      padding: 0;
    }

    @media (min-width: 798px) {
      .imageCard__others {
        margin-left: -140px;
        width: 150%;
      }
    }
  }

  &__about {
    margin-top: 60px;
    &__title {
      font-size: 56px;
    }
    &__description {
      font-family: "myFont", sans-serif;
      font-size: 20px;
      @media (min-width: 798px) {
        width: 140%;
      }
    }
  }
  &__teams {
    margin-top: 100px;
    text-align: center;

    &__title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__description {
      font-size: 20px;
      font-family: "myFont", sans-serif;
    }
    &__icons {
      @media (min-width: 798px) {
        padding: 0px 50px;
      }
      margin-top: 100px;
      text-align: center;
    }
  }

  .button {
    padding: 10px;
    width: 110px;
    border-radius: 25px;
    font-size: 18px;

    &:hover {
      background-color: #000000;
      color: rgb(255, 255, 255);
      border-radius: 25px;
    }
  }
}

.home-page__top__title {
  font-family: "myFont", sans-serif;
}
.home-page__about__title {
  font-family: "myFont", sans-serif;
}
.home-page__teams__title {
  font-family: "myFont", sans-serif;
}
.home-page__about__description {
  font-family: "myFont6", sans-serif;
}
