@font-face {
  font-family: myFont;
  src: url("/fonts/prodsanB.ttf");
}

.team-leaders-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 15px;
}

.team-leaders-container .team-leader:last-child {
  grid-column: span 4; //span all 4
  text-align: center; //center last
}

.team-leader {
  width: 250px;
  text-align: center;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children vertically */

  &-swap-container {
    height: 220px;
    width: 220px;
    display: inline-block;
    position: relative;
  }

  &-swap-button {
    border-radius: 50%;
    position: absolute;
    height: 60px;
    width: 60px;
    border-color: transparent;
    background-color: transparent;
    transform: translate(50px, -210px);
    z-index: 100;
    padding: 0;
  }

  &-swap {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.team-leader-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 5px solid;
}

.team-leader-name {
  font-weight: bold;
  color: black;
  padding-top: 10px;
}

.team-leader-link {
  color: #4285f4;
  font-size: 13px;
}

.bold-text {
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
}
