.team-leaders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-leader {
  width: 150px; // Adjust width as needed
  text-align: center;
  margin: 15px;

  &-image {
    width: 100px; // Adjust image size as needed
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  &-name {
    font-weight: bold;
  }

  &-link {
    color: blue;
    text-decoration: underline;
  }
}
