.teams-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}



.members-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 550;
  padding: 40px;
}
