.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  // position: relative;
  width: 100%;

  &__button {
    background: #ffffff;
    border: 2px solid #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 40%;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      background: #ffffff;
    }
  }

  &__container {
    display: flex;
    gap: 15px;
    transition: transform 2s ease-in-out;
    width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 60px;
  }

  &__card {
    align-self: center;
    align-content: center;
    transition:
      opacity 0.6s ease-in-out,
      transform 2s ease-in-out;
    width: 200px;
    opacity: 0.6;
    transform: scale(0.7);
  }

  &__card.active {
    align-self: center;
    justify-content: center;
    align-content: center;
    opacity: 1;
    transform: scale(1);
  }
}
