.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__button {
    background: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      background: #ffffff;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    transition: transform 2s ease-in-out;
    width: 600px;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__card {
    transition: opacity 0.6s ease-in-out, transform 2s ease-in-out;
    width: 200px;
    opacity: 0.6;
    transform: scale(0.7);
  }

  &__card.active {
    opacity: 1;
    transform: scale(1);
  }
}
