.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    align-items: center;
    align-self: center;
    align-content: center;
    max-width: 200px;
    @media (max-width: 798px) {
      max-width: 100px;
    }
  }

  &__image {
    align-self: center;
    max-width: 200px;
    @media (max-width: 798px) {
      max-width: 100px;
    }
  }
  &__container {
    margin-top: 5px;
    padding: 5px;
  }

  &.old {
    opacity: 0.6;
  }

  @media (max-width: 798px) {
    .button {
      display: none;
    }
  }
}
.carousel-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; // to ensure text within each element is centered
}
