.carousel {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  &__container {
    display: flex;
    gap: 20px;
    transition: transform 0.3s;
  }

  &__card {
    flex: 0 0 auto;
    width: 200px;
    opacity: 0.6;
    transform: scale(0.7);
    transition: opacity 0.3s, transform 0.3s;
  }

  &__card.active {
    opacity: 1;
    transform: scale(1);
  }
}
