@keyframes animatedText {
  to {
    background-position: -100% 0;
  }
}

.header {
  margin-bottom: 95px;

  &__container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(3px);

    .navbar-toggler {
      border: none;
      background: transparent;
      padding: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: background-color 0.3s;
      box-shadow: none;

      .navbar-toggler-icon {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #333;
        transition: transform 0.3s ease;
        position: relative;
        box-shadow: none;

        &.open {
          background: transparent;

          &:before,
          &:after {
            top: 0;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }

        &:before,
        &:after {
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          background-color: #333;
          position: absolute;
          transition: all 0.3s ease;
        }

        &:before {
          top: -6px;
        }

        &:after {
          top: 6px;
        }
      }
    }

    .navbar-collapse {
      transition: all 0.3s ease;
    }
  }

  @media (max-width: 790px) {
    .navbarCollapse {
      background-color: rgba(250, 250, 250, 0.65);
    }

    .navItem {
      margin-bottom: 5px;
    }
  }

  .logo {
    min-width: 30px;
    max-width: 50px;

    span {
      margin-left: 15px;
    }
  }

  .navItem {
    padding-top: 2px;
    margin: 0 10px;
    align-self: center;

    @media (max-width: 790px) {
      margin-bottom: 5px;
    }

    a {
      font-family: myFont;
      background-image: linear-gradient(
        to right,
        #5f5f5f,
        #4283f3,
        #e94336,
        #5f5f5f
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: 300%;
      animation: animatedText 5s infinite linear;
    }
  }

  .button {
    padding: 10px;
    width: 110px;
    border-radius: 25px;

    &:hover {
      color: white;
    }
  }
}

.nav-text-title {
  font-family: myFont;
  background-image: linear-gradient(
    to right,
    #5f5f5f,
    #4283f3,
    #e94336,
    #ce7676
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: animatedText 5s infinite linear;
}

.select {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none; /* 针对Webkit浏览器 */
  -moz-appearance: none; /* 针对Firefox浏览器 */
  appearance: none;
  background-image: linear-gradient(
    to right,
    #5f5f5f,
    #4283f3,
    #e94336,
    #ce7676
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: animatedText 5s infinite linear;
}
