@font-face {
  font-family: myFont;
  src: url("/fonts/opensans.ttf");
}

.headerCard {
  border: 0px;
  margin: 0 60px;
  height: 814px;
  border-radius: 0px;
  min-height: 200px;
  background-color: #ffffff;
  justify-content: center;

  @media (min-width: 790px) {
    height: 700px;
  }

  @media (max-width: 790px) {
    background-color: #ffffff;
    margin: 0;
  }

  &__headerTitle {
    text-align: center;
  }

  &__title {
    text-align: center;
    font-size: max(4vw, 66px);
    font-family: "myFont", sans-serif;
    font-weight: 700;
  }

  &__container {
    width: 100%;
    padding: 10px;

    @media (max-width: 790px) {
      background-color: #ffffff;
    }
  }

  &__logoRight,
  &__logoLeft {
    width: 100%;
    min-width: 20px;
    max-width: 60px;
  }

  &__contents {
    padding-top: 10px;
    text-align: center;
    font-size: max(1.5vw, 15px);
    color: #404040;
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #000000;
    width: 197px;
    height: 59px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: "myFont", sans-serif;
    font-size: 25px;

    &:hover {
      color: #fff;
    }
  }

  .text {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: myFont;
  }
}

@media (max-width: 790px) {
  .navbar-collapse {
    background-color: #ffffff;
  }
}
