@font-face {
  font-family: myFont;
  src: url("/fonts/prodsanReg.ttf");
  font-family: myFont3;
  src: url("/fonts/rubikReg.ttf");
}

.imageCard {
  &__image {
    height: auto;
    width: 100%;
    max-width: 350px;
  }

  &__others {
    padding: 0px 10px;
  }
}
