.team-card {
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 3px 5px 5px #c4c4c4;
  width: 10%;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
  &__image-container {
    text-align: center;
    border-bottom: 1px solid;
    border-radius: 20px 20px 0 0;

    .none {
      background-color: #c4c4c4;
    }

    &__image {
      border-radius: 10px 10px 0 0;
      max-width: 30%;
      height: auto;
    }
  }

  &__details {
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  &__description {
    color: #666;
    font-size: 14px;
  }
}

.team-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  gap: 20px;

  .team-card {
    flex-basis: 20%; // control  the size of the individual card
    max-width: 20%;
  }
}
